
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
  <a class="nav-link action" routerLink="">Home</a>    
      </li>

     <li>
  <a class="nav-link" routerLink="dept">department</a>      
      </li>

      <li>
  <a class="nav-link" (click)="onClickOfAdmsn()">Admissions</a>      
      </li>
     
      <li>
  <a class="nav-link" href="#">student section</a>      
      </li>

      <li>
  <a class="nav-link" href="#">staff section</a>      
      </li>

      <!-- <li>
  <a class="nav-link" href="#">about us</a>      
      </li>-->
       
      <li>
     <a class="nav-link" href="#">login us</a>      
      </li>
                             
                          
   </ul>
   </div>

   </nav>

   
   <router-outlet></router-outlet>
   